@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Patrick Hand";
    src: url("~assets/font/patrick-hand-regular.woff2") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html::-webkit-scrollbar {
    @apply w-3 bg-neutral-950;
}

html::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-purple-600;
}

#root {
    @apply w-full h-auto min-h-screen flex flex-col bg-[url("~assets/image/background.webp")] bg-cover bg-center;
}
